server:
  port: 8084
spring:
  application:
    name: notification-service
app:
  cors:
    allowed-origins: ${FRONTEND_ORIGIN:http://localhost:5173}
springdoc:
  swagger-ui:
    path: /swagger-ui
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
